<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{{ url_for('static', filename='success.css') }}">
  <title>Login Success - Password Strength Checker</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body style="display:none;">
    <div id="protected-content">
        <h1>Congratulations for choosing a strong password!</h1>
        <p>I hope you enjoyed my project. Stay secured!</p>
        
        <div class="meme-container">
            <img src="{{ url_for('static', filename='cheers.gif') }}" alt="Meme">
        </div>
    </div>
</body>
</html>
